
.gridtitulo{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.gridimagens{
    width: 250px;
    height: 250px;
}
.todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}